# Project-specific ignored files
/shelf/
/workspace.xml
/mavenHomeManager.xml

# IntelliJ IDEA files
/.idea/
*.iml
*.iws
*.ipr
/.idea/workspace.xml
/.idea/material_theme_project_new.xml
/.idea/vcs.xml

# VS Code files
.vscode/

# Compiled output
/out/
/target/
*.class